

a { 
    text-decoration: none;
    color: black;
    font-size: large;
}




#title {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

#main-pic {

    max-width: 100%;
    height:auto;
}

.main-class {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;


}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gigs {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color:blueviolet;
}

.video-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.column {
    float: left; 
    width: 50%;
}

/* clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.photo {
    max-width: 100%;
}